<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/estilohome.css">
</head>
<body>
    <!-- Cabeçalho padrão -->
    <header>
        <nav class="cabeçalho">
        <div class="logovet">
        <img class="logo" src="static/img/logovetlife.jpg"
        alt="Logo da empresa"/> </div>

        <a href="/"><button class="palavras">HOME</button>
        </a>

        <a href= "/serviço"><button class="palavras">SERVIÇOS</button>
        </a>

        <a href="/contato"><button class="palavras">CONTATO</button>
        </a>

        </nav>
        </div>
    </header>
    <main>

    </main>
    <footer>
        <p>© Copyright - 2024 Clínica veterinária. Todos os direitos reservados.</p>
    </footer>
</body>
</html>