<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/estilohome.css">
</head>
<body>
    <!-- Cabeçalho padrão -->
    <header>
        <nav class="cabeçalho">
        <div class="logovet">
        <img class="logo" src="static/img/logovetlife.jpg"
        alt="Logo da empresa"/> </div>

        <a href="/"><button class="palavras">HOME</button>
        </a>

        <a href= "/serviço"><button class="palavras">SERVIÇOS</button>
        </a>

        <a href="/contato"><button class="palavras">CONTATO</button>
        </a>

        </nav>
        </div>
    </header>
    <main>
        <div class="parteum">
        <img class="pet_fundo1" src="static/img/pet_fundo.png">
        <h1 class="nome"> Dr. Marcos Almeida </h1>
         <a href="/agendamento"> <button class="saibamais">
            Agendamento de consulta > </a>
        </button>
        </div>
        <section class="apresentacao">
            <div class="partedois">
                <button class="partedoiss">
                    <img class="foto" src="static/img/alimentos.jpg" ></a>
                        <h2> a Vet Life oferece um espaço completo 
                            para cuidados com os animais de estimação,
                            possuindo uma infraestrutura que inclui 
                            serviços de pet shop, clínica veterinária, 
                            exames laboratoriais, cirurgias e
                            muito mais.</h2>
                </button>
             </div>
            <div class="partedois">
                <button class="partedoiss">
                    <img class="foto" src="static/img/image.png" ></a>
                </button>
             </div>
        </section>
    </main>
    <footer>
        <p>© Copyright - 2024 Clínica veterinária. Todos os direitos reservados.</p>
    </footer>
</body>
</html>