<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviço</title>
    <link rel="stylesheet" href="static/css/estiloserviço.css">
</head>
<body>
       <!-- Cabeçalho padrão -->
       <header>
        <nav class="cabeçalho">
            <div class="logovet">
            <img class="logo" src="static/img/logovetlife.jpg"
            alt="Logo da empresa"/></div>

            <a href="/"><button class="palavras">HOME</button>
            </a>

            <a href= "/serviço"><button class="palavras">SERVIÇOS</button>
            </a>

            <a href="/contato"><button class="palavras">CONTATO</button>
            </a>
            </nav>
        </div>
    </header>
        <!-- Fim do cabeçalho padrão -->
</body>
<main>
</html>