* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --vermelho: red;
    --branco:azure; 
    --azulclaro:lightcyan;
    --cor-principal: rgb(95, 158, 160);
    --altura: 100px;

}

.cabeçalho {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items:center;
    background-color:cornsilk;
    height: 30vh;
    gap: 10px;
    background-color: var(--cor-principal);
}

.logo {
    height: 120px;
    width: 120px;
}

.palavras {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:none;
    background-color:cadetblue;
    color:aliceblue;
    font-size: larger;
    font-weight: 700px;
}

.tituloo {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.caixaa {
    background-color: #5F85A0;
    padding-bottom: 15px;
    padding-top: 15px;



    
}

.caixaa h1 {
    text-align: center;
}

.imgg {
    text-align: center;
}

body {
    background-color:#E5FAFF ;
}

.rodape {
    background-color: #5F85A0;
    display: flex;
    color:white;
    
}

.rodape img {
    width: 300px;
}

.rodape .text1 {
    padding-top: 50px;
    margin: 60px;
}

.rodape .text2 {
    padding-top: 50px;
    margin: 60px;
}

footer {
    background-color: #5cc9fb;
    color: #FFF;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;

}

