* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.cabeçalho {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items:center;
    background-color:cornsilk;
    height: 30vh;
    gap: 10px;
    background-color: var(--cor-principal);
}

.logo {
    height: 120px;
    width: 120px;
}

.caixaa {
    background-color: #5F85A0;
    padding-bottom: 15px;
    padding-top: 15px;
}

.caixaa h1 {
    text-align: center;
}

.imgs .um {
    margin: 80px;
    border-radius: 12px;
    
}

.dois {
    margin: 80px;
    border-radius: 12px;
}

.tres {
    margin: 80px;
    border-radius: 12px;
}
.quatro {
    margin: 80px;
    border-radius: 12px;
}

.cinco{
    margin: 80px;
    border-radius: 12px;
}

.seis {
    margin: 80px;
    border-radius: 12px;
}

.rodape {
    background-color: #5F85A0;
    display: flex;
    color:white;
    
}

.rodape img {
    width: 300px;
}

.rodape .text1 {
    padding-top: 50px;
    margin: 60px;
}

.rodape .text2 {
    padding-top: 50px;
    margin: 60px;
}

footer {
    background-color: #5cc9fb;
    color: #FFF;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}