* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --vermelho: red;
    --branco:azure; 
    --azulclaro:lightcyan;
    --cor-principal: rgb(95, 158, 160);
    --altura: 100px;

}

.desidratacao {
    padding-left: 20%;
    padding-top:4%;
    padding-bottom: 4%;
    background-color: #385366;
}

.body {
    background-color: var(--cor-principal);
}

.formulario {
    padding-top: 3%;
    padding-bottom: 3%;;
    background-color: #5F85A0;
    margin-left: 20%;
    margin-right: 20%;;
    border-radius: 5%;

}
.cabeçalho {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items:center;
    background-color:cornsilk;
    height: 30vh;
    gap: 10px;
    background-color: #5f9ea0;
}

.logo {
    height: 120px;
    width: 120px;
}

.palavras {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:none;
    background-color:#5f9ea0;
    color:aliceblue;
    font-size: larger;
    font-weight: 700px;
}

/* Início do rodapé */
footer {
    background-color: #5cc9fb;
    color: #FFF;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}