* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.cabeçalho {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items:center;
    background-color:cornsilk;
    height: 30vh;
    gap: 10px;
    background-color: var(--cor-principal);
}

.logo {
    border-radius: 60%;
    height: 120px;
    width: 120px;
}

.caixa {
    border
}

.caixa h1 {
    text-align: center;
}

.imgs {
    border: 50;
    flex-direction: row;
}