<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/estilohome.css">
</head>

<body>
    <!-- Cabeçalho padrão -->
    <header>
        <nav class="cabeçalho">
        <div class="logovet">
        <img class="logo" src="static/img/logovetlife.jpg"
        alt="Logo da empresa"/></div>

        <a href="/"><button class="palavras">HOME</button> 
        </a>
        
        <a href= "/serviço"><button class="palavras">SERVIÇOS</button>
        </a>

        <a href="/faleconosco"><button class="palavras">CONTATO</button>
        </a>

        <a href="/editar_paciente"><img class="img_login" src="static/img/cachorrologin.png">
        </a>

        </nav>
        </div>
    </header>

    <main>

        <div class="botaofunctions">
            <a href= "/idadehumana"><button class="botaoidade">
                Calculadora de Idade Humana</button>
            </a>

            <a href= "/medicamento_mg"><button class="botaoremedio">
                Calculadora de dose de medicamento</button>
            </a>

            <a href= "/desidratacao"><button class="botaosoro">
                Calculadora de mL de soro</button>
            </a>

            <!-- Botão do agendamento -->
            <a href="/agendamento"><button class="saibamais">
                Agendamento de consulta</button></a>
        </div>


        <h2 class="nome"> Dr. Marcos Almeida </h2>

        <div class="parteum">
        <img class="fundo_doutor" src="static/img/veterináriolindo.png">

        <h3 class="textodescritivo"> a Vet Life oferece um espaço completo 
            para cuidados com os animais de estimação,
            possuindo uma infraestrutura que inclui 
            serviços de pet shop, clínica veterinária, 
            exames laboratoriais, cirurgias e
            muito mais.</h3>
        </div>

        <div class="partedois">
        </div>
        </section>

        <div class="rodape">
            <img src="static/img/cachorro_rodape-removebg-preview.png" alt="cachorros">

            <p class="text1">INSTITUCIONAL<br/><br>
                Quem somos?<br/>
                Contato<br/>
                Política de privacidade<br/>
                Notícias<br/>
                Depoimento de clientes</p>

            <p class="text2">ATENDIMENTO<br/><br>
                TELEFONE:<br/>
                (18) 99881-1123<br/>
                (18) 3632-8922<br/>
                HORÁRIOS:<br/>
                segunda à sexta-feira - 8:00 às 12:00</p>
        </div>

    </main>
    <footer>
        <p>© Copyright - 2024 Clínica veterinária. Todos os direitos reservados.</p>
    </footer>
</body>
</html>