<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/estilohome.css">
</head>
<body>
    <!-- Cabeçalho padrão -->
    <header>
        <nav class="cabeçalho">
        <div class="logovet">
        <img class="logo" src="static/img/logovetlife.jpg"
        alt="Logo da empresa"/> </div>

        <a href="/"><button class="palavras">HOME</button>
        </a>
        
        <a href= "/serviço"><button class="palavras">SERVIÇOS</button>
        </a>

        <a href="/contato"><button class="palavras">CONTATO</button>
        </a>

        </nav>
        </div>
    </header>
    <main>
        <div class="parteum">
        <img class="pet_fundo1" src="static/img/veterináriolindo.png">
        <h1 class="nome"> Dr. Marcos Almeida </h1>
         <a href="/agendamento"><button class="saibamais">
            Agendamento de consulta</button></a>
        </div>
        <section class="apresentacao">
            <div class="partedois">
                <button class="partedoiss">
                    <img class="foto" src="static/img/alimentos.jpg" ></a>
                        <h2> a Vet Life oferece um espaço completo 
                            para cuidados com os animais de estimação,
                            possuindo uma infraestrutura que inclui 
                            serviços de pet shop, clínica veterinária, 
                            exames laboratoriais, cirurgias e
                            muito mais.</h2>
                </button>
             </div>
            <div class="partedois">
                <button class="partedoiss">
                    <img class="foto" src="static/img/image.png" ></a>
                </button>
             </div>
        </section>

        <div>
            <a href= "/idadehumana"><button class="botaoidade">
                Descubra a idade em tempo humano do seu pet!</button></a>
        </div>

        <div class="rodape">
            <img src="static/img/cachorro_rodape-removebg-preview.png" alt="cachorros">
            <p class="text1">INSTITUCIONAL<br/>
                Quem somos?<br/>
                Contato<br/>
                Política de privacidade<br/>
                Notícias<br/>
                Depoimento de clientes</p>
            <p class="text2">ATENDIMENTO<br/>
                TELEFONE:<br/>
                (18) 99881-1123<br/>
                (18) 3632-8922<br/>
                HORÁRIOS:<br/>
                segunda à sexta-feira - 8:00 às 12:00</p>
        </div>

    </main>
    <footer>
        <p>© Copyright - 2024 Clínica veterinária. Todos os direitos reservados.</p>
    </footer>
</body>
</html>