<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Medicamento</title>
    <link rel="stylesheet" href="static/css/estilomedicamento.css">
</head>
    <body>
    <header>
        <nav class="cabeçalho">
        <div class="logovet">
        <img class="logo" src="static/img/logovetlife.jpg"
        alt="Logo da empresa"/> </div>
        <a href="/"><button class="palavras">HOME</button>
        </a>
        <a href= "/serviço"><button class="palavras">SERVIÇOS</button>
        </a>

        <a href="/contato"><button class="palavras">CONTATO</button>
        </a>

        </nav>
        </div>
    </header>

    <main>
        <section>
            <div>
                <h1> Calculadora de medicamento por quilograma do animal </h1>
            </div>
            <div class="med">
                <form action="/verificar_medicamentomg" method="post">
                    <label for="peso_animal1">Digite o peso do seu animal:</label>
                    <br>
                    <input type="number" id="peso_animal1" name="peso_animal1" required>
                    <br>
                    <label for="doseremedio">Digite a quantidade de dose recomendada:</label>
                    <br>
                    <input type="number" id="doseremedio" name="doseremedio" required>
                    <br>
                    <button type="submit">Verificar</button> 
                </form>
                <div id="medicamentomg">
                    {% if resultado %} 
                        {{ resultado }} 
                    {% endif %}
                </div>
            </div>
        </section>
     <div class="rodape">
        <img src="static/img/cachorro_rodape-removebg-preview.png" alt="cachorros">
        <p class="text1">INSTITUCIONAL<br/><br>
             Quem somos?<br/>
             Contato<br/>
             Política de privacidade<br/>
             Notícias<br/>
             Depoimento de clientes</p>
        <p class="text2">ATENDIMENTO<br/><br>
             TELEFONE:<br/>
             (18) 99881-1123<br/>
             (18) 3632-8922<br/>
             HORÁRIOS:<br/>
            segunda à sexta-feira - 8:00 às 12:00</p>
    </div>
    <footer>
        <p>© Copyright - 2024 Clínica veterinária. Todos os direitos reservados.</p>
    </footer>
    </body>
</html>
