<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="static/css/estilocontato.css">
</head>
<body>
    <!-- Cabeçalho padrão -->
    <header>
        <nav class="cabeçalho">
        <div class="logovet">
        <img class="logo" src="static/img/logovetlife.jpg"
        alt="Logo da empresa"/> </div>

        <a href="/"><button class="palavras">HOME</button>
        </a>

        <a href= "/serviço"><button class="palavras">SERVIÇOS</button>
        </a>

        <a href="/faleconosco"><button class="palavras">CONTATO</button>
        </a>

        </nav>
        </div>
    </header>
    <main>
        <h1> Cadastro: seja bem-vindo à clínica VetLife! </h1>
        <form action="/verificar_paciente" method = "post">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome">
            <label for="especie">Espécie:</label>
            <input type="text" id="especie" name="especie">
            <label for="raca">Raça:</label>
            <input type="text" id="raca" name="raca">
            <label for="nome_tutor1">Nome do tutor:</label>
            <input type="text" id="nome_tutor1" name="nome_tutor1">
            <label for="nome">Peso do animal:</label>
            <input type="text" id="peso" name="peso" step="0.01">
            <label for="nome">Telefone:</label>
            <input type="text" id="telefone" name="telefone">
        </form>
    </main>
    <footer>
        <p>© Copyright - 2024 Clínica veterinária. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
