<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviço</title>
    <link rel="stylesheet" href="static/css/estiloserviço.css">
</head>
<body>
       <!-- Cabeçalho padrão -->
       <header>
        <nav class="cabeçalho">
            <div class="logovet">
            <img class="logo" src="static/img/logovetlife.jpg"
            alt="Logo da empresa"/></div>

            <a href="/"><button class="palavras">HOME</button>
            </a>

            <a href= "/serviço"><button class="palavras">SERVIÇOS</button>
            </a>

            <a href="/faleconosco"><button class="palavras">CONTATO</button>
            </a>
            </nav>
        </div>
    </header>

    <main>
        <!-- Fim do cabeçalho padrão -->
        <!-- conteúdo do site -->
        <div class="caixaa">
            <h1 class="tituloo">Nossos serviços</h1>
        </div>

        <div class="imgs">
            <div>
                <img class="um" src="static/img/Captura de tela 2024-06-07 082549.png" alt="medico">
                <p>Check-up</p>
            </div>

            <div>
                <img class="dois" src="static/img/Captura de tela 2024-06-07 082946.png" alt="medico">
                <p>Exames</p>
            </div>
            
            <div>
                <img class="tres" src="static/img/Captura de tela 2024-06-07 083133.png" alt="medico">
                <p>Vacinas</p>
            </div>
            
            <div>
                <img class="quatro" src="static/img/Captura de tela 2024-06-07 083330.png" alt="medico">
                <p>Produtos veterinários</p>
            </div>

            <div>
                <img class="cinco" src="static/img/Captura de tela 2024-06-07 083442.png" alt="medico">
                <p>Cirurgia</p>
            </div>

            <div>
                <img class="seis" src="static/img/Captura de tela 2024-06-07 083459.png" alt="medico">
                <p>Medicina preventiva</p>
            </div>
            
            
        </div>

        <div class="rodape">
            <img src="static/img/cachorro_rodape-removebg-preview.png" alt="cachorros">
            <p class="text1">INSTITUCIONAL<br/>
                Quem somos?<br/>
                Contato<br/>
                Política de privacidade<br/>
                Notícias<br/>
                Depoimento de clientes</p>
            <p class="text2">ATENDIMENTO<br/>
                TELEFONE:<br/>
                (18) 99881-1123<br/>
                (18) 3632-8922<br/>
                HORÁRIOS:<br/>
                segunda à sexta-feira - 8:00 às 12:00</p>
        </div>
        <!-- end conteudo do site -->

        </main>

        <!-- rodape -->
        <footer>
            <p>© Copyright - 2024 Clínica veterinária. Todos os direitos reservados.</p>
        </footer>
        <!-- end rodape -->
    
</body>
</html>